:root {
  --medium-color: #764ba2;
  --light-color: #e3d7f0;
  --bkg-color: #ffffff;
  --text-color: #333333;
  --font: 'Poppins', 'Helvetica', sans-serif;
}

body {
  width: 350px;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background: var(--bkg-color);
  position: relative;
}

/* Formatting for title banner on web extension instructions */
.header {
  padding: 20px 20px 10px;
  text-align: center;
  display: flex;
}

.header img {
  width: 20%;
  margin-right: 8%;
}

.header h1 {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

h4{
  color: var(--text-color);
}

/* Formatting for instructions to use */
.content {
  padding: 3px 24px 24px;
  color: var(--text-color);
}

.features{
  background-color: var(--light-color);
  border-radius: 8px;
  padding: 2px;
  box-shadow: 10px 10px var(--medium-color);
}

.features h4 {
  margin: 20px 0 0 12px; 
  font-size: 14px;
}

/* List of info that is provided by the extension */
.feature-list {
  list-style: circle;
  padding: 0;
  margin-top: 4px;

}

.feature-list ul {
  margin: 0; 
  padding-left: 16px;
  font-size: 13px;
  line-height: 1.5;
}

.feature-list li {
  padding-left: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

.feature-list li:before {
  content: "➯";
  font-weight: bold;
  margin-right: 8px;
  font-size: 17px;
}

/* Formatting for how to use extension */
.instructions {
  background: var(--light-color);
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 10px 10px var(--medium-color);
}

.instructions h4 {
  margin: 0 0 8px 0;
  font-size: 14px;
}

.instructions ol {
  margin: 0;
  padding-left: 16px;
  font-size: 13px;
  line-height: 1.5;
}

.instructions li {
  margin-bottom: 4px;
}

/* "Blurry dot" effect at the top of the sidebar*/
.color {
  height: 500px;
  width: 500px;
  background-image: radial-gradient(closest-side, #59268d, white);
  position: absolute;
  top: -350px;
  left: -16%;
  z-index: -1;
}
